body{
  background : url(back.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  margin:0px;
}

.container{
  background: rgba(0, 0, 0, 0.5);
  width: 1100px;
  padding :50px ;
  border-radius:10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  font-family: arial;
}
header >h1,nav,logo{
  text-align: center;
}

.logo{
  width: 250px;
  display:block;
  margin: auto;
  margin-top: 25px;
}

header > h1{
  color: lime;
  margin-bottom: 5px;

}

nav{
  width: 1000px;
  padding:15px;
  background-color: lime;
  margin-left: auto;
  margin-right: auto;
}

button{
  display: inline;
}

h2{
  margin-bottom: 0px;
}

h2:before {
  content: ' \25FD';
}

/* La classe qui non ha senso,provato a fare un div h2:first-child:before ma non ha funzionato*/
.arrow:before
{
  content: ' \21A6';
}

div h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}


/* Codice per i rettangoli */
.rectangleFede,.rectangleGino,.rectangleMike{
    height: 30px;
    border-radius: 5px;
}

.rectangleGino {
      width: 400px;
      background: orange;
    }

.rectangleMike {
        width: 600px;
        background: lime;
        }

.rectangleFede {
            width: 100px;
            background: red;
            margin-bottom : 30px;
}

.User{
  margin-left: 35px;
}
